article {
  padding: 0;
}
article > div:first-child {
  padding: 3rem;
}

img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  height: -webkit-fill-available;
}

@media screen and (max-width: 768px) {
  img {
    display: none;
  }
}
