article {
  padding: 0;
}
article > div:first-child {
  padding: 3rem;
}

img {
  display: none;
  object-fit: cover;
  object-position: center;
  height: 100%;
  max-height: -webkit-fill-available;
}

@media (min-width: 600px) {
  img {
    display: block;
  }
}
